extends ../../layouts/default2.pug
include ../../mixins/filter.status.pug 
include ../../mixins/search.pug  
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi2.pug
include ../../mixins/alert.pug


block main
    +alert-success(5000)

    h1 Danh Sách Sản Phẩm 

    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm
        .card-body
            .row 
                .col-6 
                    +filter-status(filterStatus)
                .col-6 
                    +search(keyword)
    .card.mb-3 
        .card-header Danh Sách
            .card-body
            
                +form-change-multi(`${prefixAdmin}/productsDel/change-multi?_method=PATCH`)
                
                table(
                    class="table table-hover.table-sm"
                    checkbox-multi
                )
                    thead 
                        tr
                            th 
                                input(type="checkbox" name="checkall")
                            th STT 
                            th Hình ảnh
                            th Tiêu đề
                            th Gía
                            th Trạng thái 
                            th Hành động 
                    tbody
                        each item, index in products
                            tr
                                td 
                                    input(
                                        type="checkbox"
                                        name="id"
                                        value=item.id
                                    )  
                                td #{index + 1}
                                td 
                                    img(src=item.thumbnail,
                                    alt=item.title, 
                                    width="100px",
                                    height="auto"
                                    )
                                td #{item.title}
                                td #{item.price}$
                                td
                                    if(item.status == "active")
                                        a(
                                            href="javascript:;"
                                            data-status=item.status
                                            data-id= item.id
                                            button-change-status 
                                            class="badge badge-success"
                                            ) Hoạt động
                                    else
                                        a(
                                        href="javascript:;"
                                        data-status=item.status
                                        data-id= item.id
                                        button-change-status 
                                        class="badge badge-danger"
                                        ) Dừng hoạt động
                                td 
                                    button(class="btn btn-warning btn-sm"
                                            data-id = item.id 
                                            button-restore
                                            ) Khôi Phục
                                    button(
                                        class="btn btn-danger btn-sm ml-1"
                                        data-id=item.id
                                        button-delete
                                        ) Xóa

    +pagination(pagination)

    form(
        action="", 
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/productsDel/change-status`
    )

    form(
        action="", 
        method="POST"
        id="form-delete-item"
        data-path=`${prefixAdmin}/productsDel/delete`
    ) 

    form(
        action="", 
        method="POST"
        id="form-restore-item"
        data-path=`${prefixAdmin}/productsDel/restore`
    )

    script(src="/admin/js/productDel.js")
            
                