extends ../../layouts/default.pug


block main 
    h1 Trang Tong Quan 

    .row.mt-4 
        .col-12 
            .card.mb-4 
                .card-header Thông tin tài khoản
                
                .card-body
                    if(user.avatar)
                        img(
                        src=user.avatar
                        style="height: 100px; margin-bottom: 15px;"
                    )
                    if(user.fullName)
                        p Họ và tên: <b>#{user.fullName}</b>
                    if(user.email)
                        p Email: <b>#{user.email}</b>
                    if(user.phone)
                        p Số điện thoại: <b>#{user.phone}</b>
                    if(role.title)
                        p Phân quyển: <b>#{role.title}</b>

        .col-6 
            .card.mb-4 
                .card-header Danh mục sản phẩm 
                .card-body 
                    p Số lượng danh mục: <b>#{statistic.categoryProduct.total}</b>
                    p Hoạt động: <b>#{statistic.categoryProduct.active}</b>
                    p Dừng hoạt động: <b>#{statistic.categoryProduct.inactive}</b>
        .col-6 
            .card.mb-4 
                .card-header Tài khoản admin
                .card-body 
                    p Số lượng danh mục: <b>#{statistic.product.total}</b>
                    p Hoạt động: <b>#{statistic.product.active}</b>
                    p Dừng hoạt động: <b>#{statistic.product.inactive}</b>
        .col-6 
            .card.mb-4 
                .card-header Sản phẩm
                .card-body 
                    p Số lượng danh mục: <b>#{statistic.account.total}</b>
                    p Hoạt động: <b>#{statistic.account.active}</b>
                    p Dừng hoạt động: <b>#{statistic.account.inactive}</b>
        .col-6 
            .card.mb-4 
                .card-header Tài khoản client
                .card-body 
                    p Số lượng danh mục: <b>#{statistic.user.total}</b>
                    p Hoạt động: <b>#{statistic.user.active}</b>
                    p Dừng hoạt động: <b>#{statistic.user.inactive}</b>